body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #333;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  font-family: "Montserrat Regular", sans-serif;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  font-family: "Montserrat Regular", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.definition {
  display: none; /* Initially hide the container */
  padding: 10px;
  border: 2px solid #f39c12;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.3s ease; /* Add a smooth opacity transition with ease easing function */
}

/* Show the container when it's visible */
.definition.visible {
  font-family: "Lora", sans-serif;
  display: block;
  opacity: 1; /* Set opacity to 1 for full visibility */
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.animated-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f39c12; /* Initial line color */
  outline: none;
  background-color: transparent;
  color: #333;
  transition: border-color 0.3s; /* Transition for line color */
  position: relative; /* Add position relative */
}

/* Line styles */
.input-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6b6b; /* Initial line color */
  transition: width 0.3s; /* Transition for line width */
}

/* Line animation on input focus */
.animated-input:focus {
  border-color: #ff6b6b; /* Line color on focus */
}

/* Line animation on input focus */
.animated-input:focus + .input-line {
  width: 100%;
}

.search-button {
  padding: 12px 23px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #ff6b6b, #f39c12);
  background-size: 200% 200%;
  transition: background-position 0.3s, color 0.3s;
}

/* Hover effect for the button */
.search-button:hover {
  background-position: right center;
  color: #fff;
  animation: bubble 3s ease infinite;
}

/* Create flying line pseudo-element */
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
}
